<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @note.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @note.start %>
</p>

<p>
  <strong>Due:</strong>
  <%= @note.due %>
</p>

<%= link_to 'Edit', edit_project_note_path(@project, @note) %> |
<%= link_to 'Back', project_notes_path(@project) %>
